@import './common/core.scss';

body,
html
{
    display: table;
}


#wh-container
{
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;

    // background: url(../imgs/bg.jpg) 50% no-repeat;
    .wh-bg
    {
        position: fixed;
        top: 0;

        width: 100%;
        height: 100%;
    }
    .wh-shade
    {
        position: fixed;
        top: 0;

        width: 100%;
        height: 100%;

        background: rgba(30,39,68,.5);
    }
    .wh-content
    {
        position: relative;

        width: 50%;
        margin: 0 auto;
        .wh-name
        {
            font-family: anana;
            font-size: 5rem;

            display: block;

            text-align: center;
            white-space: initial;
            word-wrap: break-word;

            opacity: .75;
            color: #21e7b6;
        }
        nav
        {
            margin-top: 3rem;
            ul
            {
                text-align: center;
                white-space: normal;
            }

            li
            {
                font-size: 1.5rem;
                line-height: 1.5rem;

                display: inline-block;

                max-width: 100%;
                margin-right: 3rem;
                margin-bottom: 1.5rem;
                padding: .75rem 1.5rem;

                cursor: pointer;

                color: #fff;
                border: 2px solid #21e7b6;
                border-radius: 5px;
                @media (max-width:620px )
                {
                    &
                    {
                        margin-right: 0;
                    }
                }
                a
                {
                    white-space: normal;
                    text-decoration: none;
                    word-wrap: break-word;

                    color: #fff;
                }
            }
        }
    }
}
