<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="icon" href="imgs/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/stylesheets/layout.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/demo/index.css" media="screen" title="no title">
  <title>Demo</title>
</head>

<body>
  <div id="container">
    <div id="header">
      <my-layout></my-layout>
    </div>
    <div class="content">
      <div class="left-nav ">
        <ul>
          <template v-for="menu in menus">
            <li v-on:click="selectMenu($index)" :class="checkSelected($index)">
              {{menu.name}}
          </li>
          </template>
        </ul>
      </div>
      <div class="main-content ">
        <component :is="currentView" :children-data="childrenData"></component>
      </div>
    </div>
  </div>
  <script type="text/javascript" src='/3th-part/vue.js'></script>
  <script type="text/javascript" src='/js/demo/index.js'></script>
</body>

</html>
