<!DOCTYPE html>
<html>

<head>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="stylesheet" href="/stylesheets/home/index.css">
</head>
<div id="days">
  <template v-if=true>
    <div class="remain">
        <label>剩余可以调休时间:</label>
        <span>{{getRemainDays()}}<span>
    </div>
  <div id='holiday'>
    <div>你调休的天数 {{uniqueHolidays.length}}</div>
      <ul v-if="uniqueHolidays.length>0">
      <template v-for="item in uniqueHolidays">
            <li>{{item.date}}</li>
  </template>
  </ul>
  <div class="loading" v-else>正在加载</div>
</div>
<div id='workday'>
  <div>你加班的天数{{uniqueWorkdays.length}}</div>
  <ul v-if="uniqueWorkdays.length>0">
    <template v-for="item in uniqueWorkdays">
            <li>{{item.Date}}</li>
  </template>
  </ul>
  <div class="loading" v-else>正在加载</div>
</div>
<div class="footer">
  <button class="edit" v-on:click='edit'>点击修改</button>
</div>
</template>
</div>

<body>

  <footer>
    <script type="text/javascript" src="/3th-part/jquery-1.10.2.min.js"></script>
    <script src="/3th-part/vue.js"></script>
    <script src="/js/home.js"></script>
  </footer>
</body>

</html>
