* {
  font-family: "Segoe UI";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: nowrap; }

body,
html {
  background-color: #f1f2f3; }

li {
  list-style: none; }

.left {
  float: left; }

.right {
  float: right; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); }

.content {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding-top: 90px; }
