<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="baidu_union_verify" content="730ee5d6f647ae3150d51758e672ba2d">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="icon" href="imgs/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/stylesheets/layout.css" media="screen" title="no title">
  <title>our holiday</title>
</head>

<body>
  <div id="wh-container">
    <div class="wh-bg">
      <img-slider></img-slider>
    </div>

    <div class="wh-shade"></div>
    <div class="wh-content">
      <h1 class="wh-name">Our Holiday!</h1>
      <nav>
        <ul>
          <li>
            <a href="/view/demo">Demo</a>
          </li>
          <li>
            <a href="/holiday">Holiday Details</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <script type="text/javascript" src='3th-part/vue.js'></script>
  <script type="text/javascript" src='3th-part/jquery-1.10.2.min.js'></script>
  <script type="text/javascript" src='js/common/layout.js'></script>
</body>

</html>
